/* global styles */
@import 'reset.css';
@import "typography.css";
@import 'animations.css';

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';
@import '../server/views/details.css';
@import '../server/views/verhaal-detail.css';
@import '../server/views/gedenk-posters.css';


/* component styling */
@import '../server/components/card/card.css';

body {
  color: black;
  margin: 0 auto;
}


