/* global styles */
@import 'reset.css';
@import "typography.css";
@import 'animations.css';

/*.layout and view styling */
@import '../server/layouts/base.css';
@import '../server/views/index.css';
@import '../server/views/details.css';
@import '../server/views/verhaal-detail.css';


/* component styling */
@import '../server/components/card/card.css';

body {
  color: black;
  margin: 0 auto;
}

main {
  padding: 1rem;
}
.familySlider {
        position: relative;
        overflow: hidden;

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            height: 100%;
            list-style-type: none;
            overflow-x: auto;
            overscroll-behavior-x: contain;
            scroll-snap-type: x mandatory;
            scroll-marker-group: after;
            anchor-name: --carousel;
            scroll-behavior: smooth;
            gap: 1rem;

            >li {
                min-width: 100%;
                scroll-snap-align: center;

                img {
                    width: auto;
                    object-fit: cover;
                    object-position: center;
                }

                &::scroll-marker {
                    content: "" / attr(data-label);
                    cursor: pointer;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    border: 1px solid #444;
                }

                &::scroll-marker:target-current {
                    background-color: #444;
                    border-color: #444;
                }
            }

            &::scroll-button(*) {
                position: fixed;
                position-anchor: --carousel;
                background: rgba(0, 0, 0, 0.5);
                color: white;
                border: none;
                padding: 0.5em 1em;
                cursor: pointer;
                z-index: 10;
            }

            &::scroll-button(*):disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            &::scroll-button(*):focus-visible {
                outline-offset: 5px;
            }

            &::scroll-button(left) {
                content: "⬅" / "Scroll Left";
                position-area: inline-start center;
            }

            &::scroll-button(right) {
                content: "⮕" / "Scroll Right";
                position-area: inline-end center;
            }

            &::scroll-marker-group {
                position: fixed;
                position-anchor: --carousel;
                position-area: block-end;
                margin: 10px;
                display: grid;
                grid-auto-columns: 20px;
                grid-auto-flow: column;
                gap: 20px;
            }
        }
    }