{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="details">
    <div class="container">
        <div class="details__grid">

            <div class="details__header">

                <h1>Eerste Oosterparkstraat 70-2</h1>

                <main>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>Jacob Philips</h2>
                                <time>8 april 1911</time> - Amsterdam<br />
                                <time>4 september 1941</time> - Hartheim
                            </header>
                            <p>
                                Jacob was een zoon van los
                                arbeider Nathan Philips en Heintje Philips-Krant, die beiden door de
                                nationaalsocialisten om het leven werden gebracht. Jacob, die uit een
                                groot gezin kwam, groeide op in de oude Jodenbuurt en werd in 1930
                                goedgekeurd voor militaire dienst. Hij kwam bij de infanterie terecht. In
                                1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der
                                Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op
                                dit adres wonen.
                            </p>
                            <img src="/images/details/foto_man.png" alt="foto man" />
                        </div>
                    </article>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>huwelijk</h2>
                                <time>1939</time>
                            </header>
                            <p>
                                trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der
                                Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op
                                dit adres wonen.
                            </p>
                            <img src="/images/details/trouwfoto.png" alt="trouwfoto" />
                        </div>
                    </article>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>Opgepakt</h2>
                                <time>22 februari 1941</time>
                            </header>
                            <p>Jacob werd op zaterdag 22 februari 1941 bij
                                de eerste razzia’s in de Jodenwijk opgepakt,
                                samen met twee zwagers, Mozes Leijden
                                van Amstel, die met zus Rebecca getrouwd
                                was, en Isaak Tak, die met zus Bloeme
                                getrouwd was. Beiden zouden ook worden
                                vermoord. De bij de razzia opgepakte
                                Joodse mannen werden overgebracht van
                                Amsterdam naar Kamp Schoorl; de
                                Februaristaking die daarna naar aanleiding
                                van de gevangennemingen werd georganiseerd had voor hen geen praktisch
                                resultaat. Op donderdag 27 februari 1941
                                werden de 388 gevangenen – 12 waren er
                                vrijgelaten – vanuit station Schoorl via
                                Alkmaar naar Buchenwald vervoerd. Hier
                                werden de gevangenen onder het
                                allerstrengste regime aan het werk gezet en
                                al spoedig kwamen de eerste doodsberichten in Amsterdam binnen. Achterblijvende
                                familieleden trachtten hun kinderen te
                                ondersteunen door het sturen van hulppakketten, maar dit werd in dit geval door de
                                nationaalsocialisten niet toegestaan. Al
                                gedurende de treinreis werden de
                                gevangenen mishandeld.</p>
                            <img src="/images/details/kampfoto.png" alt="kampfoto" />
                        </div>
                    </article>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>Floppy disk</h2>
                                <time>28 februari tot 22 mei 1941</time>
                            </header>
                            <p>
                                Dit gedrag werd na aankomst geïntensiveerd, mede gedachtig de
                                geheime instructie van Heinrich Himmler (foto hiernaast) dat geen
                                van deze gevangenen de gevangenschap mocht overleven. Er werd
                                zoveel mogelijk aan gedaan om tot een zo hoog mogelijk sterftecijfer
                                te komen. Zo moesten de Amsterdamse Joden soms van half een
                                tot half acht op appel blijven staan. Daarnaast werden de
                                gevangenen gedwongen zeer zware arbeid te verrichten,
                                bijvoorbeeld het uit een diepe groeve op de rug stukken steen van
                                meer dan 50 kilo naar boven te brengen. Het eten was absoluut
                                onvoldoende en die verzwakt in het ziekenhuis terechtkwam, kreeg
                                een dodelijke injectie toegediend door de daar aanwezige artsen.
                                Sadistische kampbewakers mishandelden de gevangenen
                                structureel en met veel sadistische vreugde. De gevangenen
                                vermagerden snel. In de periode van 28 februari tot 22 mei 1941
                                kwamen 47 mannen om het leven door ontberingen. Op de foto
                                hierboven een aantal Nederlandse gevangenen in Buchenwald,
                                opgenomen in het SS-blad Das Schwarze Korps. De tweede man van rechts op de onderste rij
                                is
                                trouwens Joseph Meljado van Blasiusstraat 46-2. Hieronder een foto van de SS-eenheid die
                                in
                                Buchenwald actief was bij het mishandelen van de gevangenen, onder leiding van
                                SSOberstormführer Hermann Hackmann, de man met knuppel. Hermann Hackmann, die bekend
                                stond om zijn creatieve en enthousiaste wijze van kwellen, martelen en vermoorden van
                                honderden
                                gevangenen, werd in 1948 tot levenslang veroordeeld, maar werd al in 1955 weer
                                vrijgelaten.
                            </p>
                            <img src="/images/details/himler.png" alt="Himler" />
                        </div>
                    </article>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>Mauthausen</h2>
                                <time> 22 mei 1941</time>
                            </header>
                            <p>
                                Op 22 mei 1941 werden de overlevende ca. 340 Amsterdammers op de trein gezet naar het
                                Oostenrijkse Mauthausen. Vanuit dit kamp kwamen nauwelijks meer overlijdensberichten
                                meer
                                naar Amsterdam. Er kwam bijna in het geheel geen nieuws, behalve een enkele formele
                                adreswijzigingskaart. In Mauthausen nam het fenomeen ‘auf der Flucht erschiessen’ grote
                                vormen aan.
                                Gevangenen stierven nu op zeer grote schaal aan uitputting. En tussen de 100 en 150
                                Nederlandse
                                mannen werden vergast, als oefening voor latere vergassingen op grote schaal. De
                                werkzaam-
                                45
                                heden die hier verricht moesten worden, leken op die in Buchenwald: het naar boven
                                sjouwen uit
                                een groeve van grote stukken steen, via de zogenaamde ‘trap des doods’. Jacob stierf als
                                slachtoffer van de vergassingsexperimenten van de nationaalsocialisten in kasteel
                                Hartheim
                                (hieronder), die in september plaatsvonden. Dit vergassingsexperiment stond bekend als
                                Aktion
                                T4. In eerste instantie werden uitsluitend Duitsers vermoord die lichamelijk of
                                geestelijk
                                gehandicapt waren. Vanaf eind augustus 1941 werden de gaskamers in het elegante slot ook
                                ingezet om politieke tegenstanders, zoals socialisten en communisten, en Joden te
                                vermoorden.
                                In totaal werden in het kasteel naar inschatting ca. 30.000 mensen om het leven gebracht
                                door de
                                nationaalsocialisten
                            </p>
                            <img src="/images/details/foto_bewakers.png" alt="Bewakers" />
                        </div>
                    </article>
                    <article class="stop" tabindex="0">
                        <div class="text">
                            <header>
                                <h2>Zip drive</h2>
                                <time>1980</time> - Iomega
                            </header>
                            <p>
                                Deze actie was al begonnen in september 1939, toen de geestelijk leider van de
                                nationaalsocialisten, Adolf Hitler, een zogenaamde euthanasie-notitie ondertekende,
                                waardoor
                                ongeveer 300.000 patiënten uit psychiatrische ziekenhuizen een “Gnadentod” konden
                                sterven,
                                zoals het regime dit formuleerde: zij werden uit hun lijden verlost. Zie voor verdere
                                details van de
                                gebeurtenissen tijdens de razzia het boek De razzia’s van 22 en 23 februari 1941 in
                                Amsterdam.
                                Het lot van 389 Joodse mannen. Een zus van Jacob, Sara, overleefde de oorlog. Zes andere
                                zussen en een broer werden ook door de nationaalsocialisten om het leven gebracht:
                                Rebecca
                                (ateliernaaister), Bloeme, Aaltje, Klara, Johanna (naaister), Branca (handwerkerster) en
                                Hartog
                                (leerwerker). De niet-Joodse echtgenote van Jacob, Bep, overleefde de oorlog,
                                vermoedelijk net
                                als zoontje Nico, dat in 1941 geboren was. Over hem konden wij niets terugvinden. In
                                1944
                                hertrouwde Bep. Zij ging met haar nieuwe echtgenoot op de Derde Oosterparkweg 199-1
                                wonen
                                </p>
                            <img src="/images/details/paleis.png" alt="Paleis" />
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
</section>
{% endblock %}