{% layout "server/layouts/base.liquid" %}

{% block content %}



<section class="section1">

<h3 class="streetName">Eerste Oosterparkstraat</h3>

<div class="housjesContainer">
  <img src="/images/huis1.png" alt="amsterdams huisje 1" data-speed="1">
  <img src="/images/huis2.png" alt="amsterdams huisje 2" data-speed="4">
  <img src="/images/huis3.png" alt="amsterdams huisje 3" data-speed="2">
  <img src="/images/huis4.png" alt="amsterdams huisje 4" data-speed="3">
  <img src="/images/huis5.png" alt="amsterdams huisje 5" data-speed="5">
  <img src="/images/huis1.png" alt="amsterdams huisje 1" data-speed="1">
  <img src="/images/huis2.png" alt="amsterdams huisje 2" data-speed="4">
  <img src="/images/huis3.png" alt="amsterdams huisje 3" data-speed="2">
  <img src="/images/huis4.png" alt="amsterdams huisje 4" data-speed="3">
  <img src="/images/huis5.png" alt="amsterdams huisje 5" data-speed="5">
</div>

<img src="/images/boom.png" alt="" class="tree1">

<img src="/images/boom.png" alt="" class="tree2">

<img src="/images/boom.png" alt="" class="tree3">

<img src="/images/boom.png" alt="" class="tree4">

<section class="details">
    <div class="container">
        <div class="details__grid">

            <div class="details__header">
                <nav class="familySlider">
                  <button class="familySlider__button familySlider__button--left">&lt;</button>

                    <ul>
                        <li>Eerste oosterparkstraat 70-2</li>
                        <li>Eerste oosterparkstraat 70-2</li>
                        <li>Eerste oosterparkstraat 70-2</li>
                        <li>Eerste oosterparkstraat 70-2</li>
                    </ul>
                    <button class="familySlider__button familySlider__button--right">&gt;</button>

                </nav>
            </div>

            <div class="details__left">

            </div>

            <div class="details__middle">

            </div>

            <div class="details__right">

            </div>
        </div>
    </div>


    </section>

    </section>


    <section id="sectionPin">
      <div class="pin-wrap-sticky">
        <div class="pin-wrap">
    
          <div class="introtekst">
            <h2>Eerste Oosterparkstraat 70-2</h2>
            <h3>Jacob Philips en Elisabeth van der Haas</h3>
          </div>
    
          <div class="img">
            <img src="/images/jacob.png" alt="foto van Jacob Philips">
            <div class="imgContent">
              <h2>Voor 1945</h2>
              <p>Jacob Philips (foto rechts en trouwfoto hieronder), los werkman, spiegelmaker, marktkoopman en expeditieknecht, Amsterdam, 8 april 1911, Hartheim, 4 september 1941. Jacob was een zoon van los arbeider Nathan Philips en Heintje Philips-Krant, die beiden door de nationaalsocialisten om het leven werden gebracht. Jacob, die uit een groot gezin kwam, groeide op in de oude Jodenbuurt en werd in 1930 goedgekeurd voor militaire dienst. Hij kwam bij de infanterie terecht. In 1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op dit adres wonen.</p>
            </div>
          </div>
    
          <div class="img">
            <img src="/images/jacob.png" alt="foto van Jacob Philips">
            <div class="imgContent">
              <h2>Voor 1945</h2>
              <p>Jacob Philips (foto rechts en trouwfoto hieronder), los werkman, spiegelmaker, marktkoopman en expeditieknecht, Amsterdam, 8 april 1911, Hartheim, 4 september 1941. Jacob was een zoon van los arbeider Nathan Philips en Heintje Philips-Krant, die beiden door de nationaalsocialisten om het leven werden gebracht. Jacob, die uit een groot gezin kwam, groeide op in de oude Jodenbuurt en werd in 1930 goedgekeurd voor militaire dienst. Hij kwam bij de infanterie terecht. In 1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op dit adres wonen.</p>
            </div>
          </div>
    
          <div class="img">
            <img src="/images/jacob.png" alt="foto van Jacob Philips">
            <div class="imgContent">
              <h2>Voor 1945</h2>
              <p>Jacob Philips (foto rechts en trouwfoto hieronder), los werkman, spiegelmaker, marktkoopman en expeditieknecht, Amsterdam, 8 april 1911, Hartheim, 4 september 1941. Jacob was een zoon van los arbeider Nathan Philips en Heintje Philips-Krant, die beiden door de nationaalsocialisten om het leven werden gebracht. Jacob, die uit een groot gezin kwam, groeide op in de oude Jodenbuurt en werd in 1930 goedgekeurd voor militaire dienst. Hij kwam bij de infanterie terecht. In 1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op dit adres wonen.</p>
            </div>
          </div>
    
        </div>
      </div>
    </section>
    

	
      


  {% comment %} <section class="section2">

  <ul class="timeline">
  <li> 

    
    <div class="intro-content">
      <h2>Eerste oosterparkstraat 70-2</h2>
      <p>Jacob Philips en Elisabeth van der Haas</p>
    </div></li>
  
  <li>  
    <div class="card" >
    <div class="upper card1">
        <span class="year">Voor de oorlog</span>
        <span class="code-introduction"> Jacob Philips </span>
      </div>

      <div class="line"></div>
          <div class="lower">
        <p>Jacob was een gewone Amsterdammer uit een Joods gezin die in de oude Jodenbuurt opgroeide en een werkzaam leven leidde.</p>
      </div>
      
      </div>
      </li>
  
  <li>
    <div class="card">
          <div class="upper card2">
        <span class="year">Familie</span>
        <span class="code-introduction">Jacob en Elisabeth</span>
      </div>
      <div class="lower">
        <p>In 1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op dit adres wonen.</p>
      </div>
      </div>
  </li>
  <li></li>
  <li></li>
</ul><div class="pin-wrap-sticky">
		<div class="pin-wrap">

   


</section> {% endcomment %}




{% endblock %}