{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="details">
    <div class="container">
        <div class="details__grid">

            <div class="details__header">
                <nav class="familySlider">
                    <ul>
                        <li>familie 1</li>
                        <li>familie 2</li>
                        <li>familie 3</li>
                        <li>familie 4</li>
                    </ul>
                </nav>
            </div>

            <div class="details__left">

            </div>

            <div class="details__middle">

            </div>

            <div class="details__right">

            </div>
        </div>
    </div>
</section>
{% endblock %}