.details {

    .details__grid {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-gap: 1rem;
    }

    .details__header {
        grid-column: 1 / span 5;
    }

    img {
        width: 100%;
        height: auto;
    }

    @mixin global-transition {
        transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
    }

    body {
        margin: 0;
        background: dark-grey;
        padding-bottom: 300px;
    }

    .header {
        height: 500px;
        text-align: center;
        background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .8)),
            url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwzzY9fjzAm7fIXKNZSmoU4LH-GoZOj7scpVvJm3w15M2nreWOHg');
        background-position: 50% 50%;
        background-color: light-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: Droid Sans;

        h1 {
            font-size: 3rem;
            color: #000000;
            font-family: 'Yatra One', cursive;
        }

        p {
            font-family: 'Yatra One', cursive;
            font-size: 1.5rem;
        }

    }

    

}

