{% layout "server/layouts/base.liquid" %}

{% block content %}

{% assign breadcrumb_title = "Families" %}
{% include "server/layouts/breadcrumbs" %}

<section class="container">
    <section class="familie-scroll">
        <h3>Families</h3>

        <section class="filters">
            <form method="GET" action="/families#familieLijst">
                <input type="text" name="familieNaam" placeholder="Zoek op familienaam"
                    value="{{ selectedFamilieNaam }}" />
                <button type="submit"><i class="fa-solid fa-filter"></i></button>
            </form>
        </section>

        {% if filteredItems.size > 0 %}
        <div class="familie-lijst" id="familieLijst">
            {% for item in filteredItems %}
            <a href="/verhalen/{{ item.verhaal.id }}" class="familie-kaart">
                <div class="familie-illustratie">
                    <img src="/images/gedenkmuur/ilustratie-gezinnen.png" alt="Gezin illustratie" />
                </div>
                <h4>Fam. {{ item.verhaal.familie }}</h4>
                <p>Bekijk de verhalen van deze familie</p>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <p>Geen familie gevonden met deze naam.</p>
        {% endif %}

    </section>
</section>
{% endblock %}