{% layout "server/layouts/base.liquid" %}

{% block content %}
<section class="gedenkMuur">
    <div class=" banner">
        <img src="/images/gedenkmuur/brick-wall.png" alt="Gedenkmuur" />

        <div class="streetSignWrapper">
            <div class="streetSign">
                <span>teststraat</span>
            </div>
        </div>

            <ul class="bloemenLijst"></ul>
    </div>

    <div class="bloemButtonWrapper">
        <span id="numberOfRoses">{{ numberOfRoses }}</span>

        <button type="button" id="bloemButton">Leg een bloem</button>
    </div>
</section>
{% endblock %}