{% layout "server/layouts/base.liquid" %}

{% block content %}
<section class="gedenkMuur banner">
    <img src="/images/gedenkmuur/brick-wall.png" alt="Gedenkmuur" />

    <div class="streetSignWrapper">
        <div class="streetSign">
            <span>teststraat</span>
        </div>
    </div>

    <span id="numberOfRoses">{{  numberOfRoses }}</span>

    <button type="button" id="bloemButton">Leg een bloem</button>
</section>
{% endblock %}