{% layout "server/layouts/base.liquid" %}

{% block content %}

<section class="container">
    <h1>Wie zijn wij?</h1>

    <h2>Het comité</h2>
    <p>
        Het 4 mei comité Oosterparkbuurt bestaat uit Ieke Ginjaar, Bert Runhaar, Ineke Smit
        en Joost van Ommen. Het comité is voortgekomen uit het buurtcomité Namen en
        Nummers Kastanjeplein, een project van beeldend kunstenaar Ida van der Lee dat van
        2012 tot 2021 elk jaar op 4 mei op het Kastanjeplein uitgevoerd werd en in 2021 is
        afgerond. Dit project vormde de inspiratie voor de gedenkposters en heeft een vervolg gekregen met
        Namenennummers.nl.

        Dit is een digitaal herdenkingsplatform waarop alle 104.000 Nederlands

        slachtoffers van de Holocaust zijn te vinden en te herdenken.
    </p>

    <h2>Wat betekent herdenken in 2025?</h2>
    <p>
        Het herdenken van de Joodse bewoners die tijdens de Tweede Wereldoorlog uit de Oosterparkbuurt zijn gedeporteerd
        en vermoord is voor ons rechtstreeks verbonden met voor elkaar opkomen en elkaar respecteren.
    </p>

    <p>
        We mogen nooit wegkijken als een groep mensen wordt weggezet als 'anders', als minderwaardig of als ongewenst in
        de samenleving. Onverdraagzaamheid wegwuiven of tolereren staat haaks op het idee van 'dit nooit meer', na de
        Tweede Wereldoorlog vastgelegd in de Rechten van de Mens.
    </p>

    <p>
        Zowel nationaal als internationaal zien we echter dat het wij tegen zij-denken steeds meer aan terrein wint. Het
        comité streeft ernaar de verbinding te blijven zoeken, in de Oosterparkbuurt en in Amsterdam.
    </p>

    <p>
        Op 4 mei herdenken we de 2800 mensen die tijdens de Holocaust uit onze buurt zijn weggehaald, noemen hun namen
        en vertellen de verhalen uit onze buurt. Het is ook een moment om elkaar eraan te herinneren dat we waakzaam
        moeten zijn en blijven

        voor uitsluiting. In de woorden van regisseur Steve McQueen:

        'Er is geen ander, er is alleen wij. En het is altijd wij geweest. Wij.'
    </p>

    <h2>Privacybeleid</h2>
    <p>
        Wij verzamelen of bewaren geen gegevens van bezoekers van deze website. Als u zich aanmeldt voor onze
        nieuwsbrief, gebruiken wij uw e-mailadres alleen om u de nieuwsbrief toe te sturen. Wij geven uw gegevens nooit
        door aan derden.
    </p>

    <p>Heb je vragen, ideeën of suggesties? <a href="mailto:4meioosterparkbuurt@gmail.com">Neem contact op</a> met het comité!</p>
</section>

{% endblock %}