{% layout "server/layouts/base.liquid" %}

{% block content %}
<nav class="familySlider">
                    <ul>
                        <li>
                            <img src="/images/details/foto_man.png" alt="" />
                            <span>Jaartal</span>
                            <hr />
                            <span>Datum</span>
                            <p>
                                Jacob Philips (foto rechts en trouwfoto hieronder), los werkman,
                                spiegelmaker, marktkoopman en expeditieknecht, Amsterdam, 8 april
                                1911, Hartheim, 4 september 1941. Jacob was een zoon van los
                                arbeider Nathan Philips en Heintje Philips-Krant, die beiden door de
                                nationaalsocialisten om het leven werden gebracht. Jacob, die uit een
                                groot gezin kwam, groeide op in de oude Jodenbuurt en werd in 1930
                                goedgekeurd voor militaire dienst. Hij kwam bij de infanterie terecht. In
                                1939 trouwde Jacob met kantinebeheerster Elisabeth (Bep) van der
                                Haas, van niet-Joodse afkomst. Het stel ging direct na hun huwelijk op
                                dit adres wonen
                            </p>
                        </li>
                        <li>
                            <img src="/images/details/trouwfoto.png" alt="" />
                            <span>1914</span>
                            <hr />
                            <span>16 juni</span>
                            <p>
                                Jacob werd op zaterdag 22 februari 1941 bij
                                de eerste razzia’s in de Jodenwijk opgepakt,
                                samen met twee zwagers, Mozes Leijden
                                van Amstel, die met zus Rebecca getrouwd
                                was, en Isaak Tak, die met zus Bloeme
                                getrouwd was. Beiden zouden ook worden
                                vermoord. De bij de razzia opgepakte
                                Joodse mannen werden overgebracht van
                                Amsterdam naar Kamp Schoorl; de
                                Februaristaking die daarna naar aanleiding
                                van de gevangennemingen werd georganiseerd had voor hen geen praktisch
                                resultaat. Op donderdag 27 februari 1941
                                werden de 388 gevangenen – 12 waren er
                                vrijgelaten – vanuit station Schoorl via
                                Alkmaar naar Buchenwald vervoerd. Hier
                                werden de gevangenen onder het
                                allerstrengste regime aan het werk gezet en
                                al spoedig kwamen de eerste doodsberichten in Amsterdam binnen. Achterblijvende
                                familieleden trachtten hun kinderen te
                                ondersteunen door het sturen van hulppakketten, maar dit werd in dit geval door de
                                nationaalsocialisten niet toegestaan. Al
                                gedurende de treinreis werden de
                                gevangenen mishandeld.
                            </p>
                        </li>
                        <li>
                            <img src="/images/details/kampfoto.png" alt="" />
                        </li>
                        <li>
                            <img src="https://ichef-1.bbci.co.uk/news/660/media/images/72349000/jpg/_72349652_generals-on-horseback.jpg"
                                alt="" />
                            <span>1914</span>
                            <hr />
                            <span>16 juni</span>
                            <p>
                                Assassination of Archduke Franz Ferdinand of Austria, heir to the Austro-Hungarian
                                throne, who was killed in Sarajevo along with his wife Duchess Sophie by Bosnian Serb
                                Gavrilo Princip.
                            </p>
                        </li>
                    </ul>
                </nav>
{% endblock %}