
body{
    padding:0;
    margin:0;
  }
  
  
  .section1{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centreer de inhoud horizontaal */
    justify-content: space-between; /* Zorg dat de huisjes en slider netjes verdeeld zijn */
    padding: 2em; /* Voeg wat ruimte toe rondom de sectie */
    /* margin-bottom:3em; */
    z-index:-1;
    height:80vh;
    overflow: hidden;
    background: linear-gradient(0deg,rgba(153, 153, 153, 1) 0%, rgba(255, 255, 255, 1) 8%);
  }

  

  .texttoscroll{
    margin-bottom:3em;
    z-index:1;
    text-align: center;
  }
  
  
  .streetName{
    background: linear-gradient(318deg,rgba(39, 61, 124, 1) 0%, rgb(53, 86, 179) 51%, rgba(39, 61, 124, 1) 100%);
    color: #fff;
    padding: .7em;
    border-radius: .3em;
    width:fit-content;
    max-width: 90%;
    border: 1.8px solid #fff;
    box-shadow: #273D7C 0px 2px 5px, #273D7C 0px 0px 0px 4px;
    margin-left:80%;
    font-size:1em;
    text-transform: uppercase;
    z-index:4;
    word-wrap: break-word;

    p{
        font-weight: 350;
        font-size: 0.8em;
        margin:0;
        margin-top:.5em;
        text-align:right;
        
    }
  }
  
  @media (max-width: 768px) {
    .streetName {
      font-size: 0.9em; /* Maak de tekst iets kleiner op kleinere schermen */
      padding: 0.5em; /* Verminder de padding */
    }
  }
  
  @media (max-width: 480px) {
    .streetName {
      font-size: 0.8em; /* Maak de tekst nog kleiner op zeer kleine schermen */
      padding: 0.4em;
    }
  }


  .tree1 {
    top: 24%; /* Gebruik viewport hoogte voor positionering */
    left: 5vw; /* Gebruik viewport breedte voor positionering */
    position: absolute;
    z-index: 0; /* Zorg dat de bomen achter de huisjes staan */
    width: 20vw; /* Gebruik viewport breedte voor grootte */
    opacity: 0.8; /* Maak de boom iets transparant */
  }
  
  .tree2 {
    top: 26%;
    left: 15vw;
    position: absolute;
    z-index: 0;
    width: 18vw;
    opacity: 0.95;
  }
  
  .tree3 {
    top: 24%;
    right: 10vw;
    position: absolute;
    z-index: 0;
    width: 20vw;
    opacity: 0.8;
  }
  
  .tree4 {
    top: 26%;
    right: 20vw;
    position: absolute;
    z-index: 0;
    width: 18vw;
    opacity: 0.95;
  }


  
  
  /* huisjes */
  
  .housjesContainer {
    position: relative;
    display: flex;
    gap: 1em;
    justify-content: center;
    z-index:1;
  }
  
  .housjesContainer img {
    width: 50%;
    transition: transform 0.1s ease-out; /* Zorg voor een soepel scroll-effect */
  }
  
  
  /* ///////////////// */
  /* SCROLL TIME LINE */
  /* ///////////////// */
  
  @keyframes move {
      to {
          /* Move horizontally so that right edge is aligned against the viewport */
          transform: translateX(calc(-100% + 100vw));
      }
  }
  
  #sectionPin {
      /* Stretch it out, so that we create room for the horizontal scroll animation */
      height: 500vh;
      overflow: visible; /* To make position sticky work … */
  
      view-timeline-name: --section-pin-tl;
      view-timeline-axis: block;
    background-image: url("/images/1steoosterparkstraat.png");
    max-width:100vw;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  
  
  
  .pin-wrap-sticky {
      /* Stick to Top */
      height: 100vh;
      width: 100vw;
      position: sticky;
      top: 0;
  
      width: 100vw;
      overflow-x: hidden;
  }
  
  .pin-wrap {
      height: 100vh;
      width: 250vmax;
    gap:3rem;
    
     display: flex;
     justify-content: flex-start;
     align-items: center;
  
      /* Hook animation */
      will-change: transform;
      animation: linear move forwards;
  
      /* Link animation to view-timeline */
      animation-timeline: --section-pin-tl;
      animation-range: contain 0% contain 100%;
  }
  
  .introtekst{
    text-align: center;
    background: radial-gradient(circle,rgba(84, 3, 3, .8) 0%, rgba(46, 3, 3, .8) 100%);
    color: white;
    padding: 90px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-left: 10em;
    margin-right: 10em;
    width:711px;
    height:17em;

    h2{
        color:white;
    }

    h3{
        color: #fff;
    }
  }
  
  .img{
    background-color:#51515182;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.614);
    height: auto;
    width: 711px;
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2em;
    gap:1em;
  }
  
  .img img{
   width:10em;
    height: auto;
    border-radius: 10px;
  }
  
  .imgContent {
    display: flex;
    flex-direction: column; /* Plaats de tekst onder elkaar */
    justify-content: center; /* Centreer de tekst verticaal */
    gap: 0.5em; /* Voeg ruimte toe tussen de `h2` en `p` */
    color: white;
  }
  
  .imgContent h2{
    color:white;
    font-size:1.5em;
  
    font-family: 'Open Sans', sans-serif;
  
  }
  
  .imgContent p{
    color:white;
    font-size:1em;
  
    font-family: 'Open Sans', sans-serif;
  
  }
  
  
 